@if (loading()) {
	<mat-spinner style="margin: 0 auto" mode="indeterminate"></mat-spinner>
} @else {
	<mat-card>
		<form [formGroup]="profileForm">
			<mat-form-field appearance="fill" class="full-width">
				<mat-label>Username</mat-label>
				<input matInput placeholder="Username" formControlName="username" />
			</mat-form-field>
			<mat-form-field appearance="fill" class="full-width">
				<mat-label>Password</mat-label>
				<input
					matInput
					[type]="showPassword() ? 'text' : 'password'"
					formControlName="password"
					required
				/>
			</mat-form-field>
			<mat-checkbox
				class="example-margin"
				[checked]="showPassword()"
				(change)="updateShowPassword($event.checked)"
			></mat-checkbox>
		</form>
		@if (errorMsg()) {
			{{ errorMsg() }}
		}

		<button matFab extended (click)="onSubmit()">
			<mat-icon>login</mat-icon>
			Login
		</button>
	</mat-card>
}
